:root {
    --lavender-web: #eae8ff;      /* Lavender Web */
    --platinum: #d8d5db;          /* Platinum */
    --french-gray: #adacb5;       /* French Gray */
    --gunmetal: #2d3142;          /* Gunmetal */
    --uranian-blue: #b0d7ff;      /* Uranian Blue */
}

/* Base styles */
body {
    font-family: Tahoma, sans-serif;
    color: var(--lavender-web);   /* Light text color */
    background-color: var(--gunmetal); /* Dark background */
    text-align: center;
}

header, main, footer {
    text-align: center;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

main p {
    text-align: justify;
    text-align-last: left;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--uranian-blue);   /* Bright contrast for headings */
}

/* Other */
.certification {
    font-style: italic;
}

/* Links */
a {
    color: var(--platinum);        /* Platinum for links */
    text-decoration: underline;
}

a:hover {
    color: var(--uranian-blue);    /* Uranian Blue on hover */
}

.contract {
    font-style: italic;
}

/* Lists */
li {
    text-align: left;
    padding: 2px 10px 2px 10px;
}

/* Img related */
figcaption {
    color: var(--platinum);        /* Platinum for captions */
}

.selfie {
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
}

/* Tables */
table, td, th {
    border: 1px solid var(--lavender-web); /* Lavender Web border for tables */
    margin-left: auto;
    margin-right: auto;
}

.top, .category {
    background-color: var(--french-gray); /* French Gray for table headers */
    color: var(--gunmetal);            /* Light text for headers */
}

.complex tr:nth-child(even) {
    background-color: var(--platinum);      /* Platinum for alternating rows */
    color: var(--gunmetal);                  /* Darker text for readability */
}
