<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/mdeguzm2">Webspace</a>
        <span> ~ </span>
        <a href="https://github.com/mdeguzm2/">Github</a>
        <span> ~ </span>
        <a href="https://mdeguzm2.github.io">GitHub Pages</a>
        <span> ~ </span>
        <a href="https://mdeguzm2.github.io/itis3135">GitHub Course Page</a>
        <span> ~ </span>
        <a href="https://www.freecodecamp.org/mdeguzm2">FreeCodeCamp</a>
        <span> ~ </span>
        <a href="https://www.codecademy.com/profiles/mdeguzm2">Codecademy</a>
        <span> ~ </span>
        <a href="https://www.linkedin.com/in/matthew-deguzman-b30b03251/">LinkedIn</a>
    </nav>
    <em>Type with Precision</em>
    <p>Designed by <a href="mdeguzm2/itis3135/deguzmanenterprises.linkpc.net/index.html">Deguzman Enterprises</a>©2024</p>
    <p class="certification">Certified in 
        <a href="https://www.freecodecamp.org/certification/mdeguzm2/responsive-web-design">
            Responsive Web Design
            </a>
        </p>
</footer>