<header>
    <h1>Matthew Deguzman's Modern Dodo || ITIS 3135</h1>
    <nav>
        <a href="./">Home</a>
        <span> | </span>
        <a href="introduction.html">Introduction</a>
        <span> | </span>
        <a href="contract.html">Contract</a>
        <span> | </span>
        <a href="about.html">About</a>
        <span> | </span>
        <a href="website_evaluations.html">Website Evaluations</a>
        <span> | </span>
        <a href="tables.html">Tables</a>
        <span> | </span>
        <a href="forms.html">Forms</a>
        <span> | </span>
        <a href="project_overview.html">Project Overview</a>
        <span> | </span>
        <a href="byo_intro.html">BYO Intro</a>
        <span> | </span>
        <a href="firstscripts.html">First Scripts</a>
        <span> | </span>
        <a href="drawing.html">Drawing</a>
    </nav>
    <nav>
        <a href="stuff/weB  👨PAG.htm">Crappy Webpage</a>
        <span> | </span>
        <a href="hobby/">Hobby</a>
        <span> | </span>
        <a href="clientproject/">Client Website</a>
    </nav>
</header>